:root{
    --blue: #82CDC0;
    --pink: #CD828F;
    --pinkinput: #D4929E;
    --white: white;
    --fontPoppins: 'Poppins', sans-serif;
    --plomo:#8F9090;
    --plomoOscuro: #5D655D;
    --greenB: #3B766F;
    --fontAcme: 'Acme', sans-serif;
  }

/* padre de contenthome y sectionForm */
.containerRegister, .containerLogin {
    /* width: 100%;
    height: 100%; */
    /* height: 915px; */
    height: 100vh;
    display: flex;
    text-align: center;
    
  }
  
  /* contenido de la portada de escritorio, imagen y parrafo */
  
  .contentHome{
     width: 70%;
     /* border: 3px solid blue; */   
   }

    .imghome {
      width: 100%;
      height: 65%;
    }
  
    .contentHome p{
      margin: 40px;
      padding: 30px;
      color: var(--greenB);
      font-size: 23px;
      font-weight: medium;
      font-family: var(--fontPoppins);
    }
  
  /* contenido de los formularios de register y login */
  .sectionForm{
    width: 40%;
    /* border: 3px solid yellow; */
    background-color: var(--blue);
    padding: 20px;
    position: relative; 
    font-family: var(--fontPoppins); 
  }

    /* encabezado del formulario */
    .sectionForm img{
      width: 90px;
      height: 90px;
      position: absolute;
      margin-top: 40px;
      /* margin-right: auto;
      margin-left: auto; */
    } 
  
    .sectionForm h1{
      color: var(--greenB);
      font-size: 4rem;
      margin-top: 100px;
      margin-bottom: 20px;
      font-family:'Acme', sans-serif;
  
    }
  
    .sectionForm h2{
      color: var(--greenB);
      font-size: 20px;
  
    }
  
    .sectionForm h3{
      color: var(--greenB);
      font-size: 18px;
      margin-top: 50px;
    }
  
    /* formulario de registrarse y login */
  
    #formRegister, #formLogin{
      padding: 50px;
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      align-items: center;
    
    }
  
    /* inputs del formulario */
    #nameRegister, #emailRegister, #passwordRegister, #passwordConfirm,
    #emailLogin, #passwordLogin{
      background-color: var( --white);
      height: 30px;
      width: 200px;
      border-radius: 3px;
      border:transparent;
      text-align: center;
      font-size: 14px;
      
    }
  
    .sectionForm input::placeholder {
      color: var(--plomo); 
    }
  
    #messageEmail, #messageName, #messagePassword, #messagePasswordConfirm {
      color: var(--pink);
      font-size: 12px;
      font-weight: 600;
    } 
  
    /* botones para registrarse e iniciar sesión */
    #register, #login{
      background-color: var(--pink);
      margin: auto;
      height: 40px;
      width: 110px;
      font-size: 12px;
      border-radius: 20px;
      border:0 solid transparent;
      color: var(--white);
      font-family: 'Poppins', sans-serif;
    }
  
    #register:hover, #login:hover {
      /* Modificar el estilo del botón cuando el mouse esté sobre él */
      background-color: var(--pinkinput);
      /* color: var(--pink); */
      cursor: pointer;
    }
  
    .question{
      margin-top: 30px;
      color: var(--white);
      font-size: 15px;
    
    }
  
    .question input{
      width: 93px;
      border: transparent;
      border-bottom: 2px solid var(--pink);
      background-color: transparent;
      color: var(--pink);
      text-align: center;
    }
  
    .question input:hover{
      color: var(--white);
      border-bottom: 2px solid var(--white);
      cursor: pointer;
    }
  
    .ingresaCon{
      color: var(--white);
      font-size: 15px; 
      margin-top: -20px;
      margin-bottom: 10px;
    }

    .redes-sociales{
      display: flex;
      width: 160px;
      height: 50px;
      position: relative;
      /* text-align: center; */
      margin: auto;
      align-items: center;
    }
  
    #imggoogle {
      width: 45px;
      height: 45px;
      position: absolute;
      margin: auto;
      right: 0;
  
    }
  
    #imggoogle:hover {
      cursor: pointer;
      
    }
  
  /*media Query*/
@media only screen and (min-width: 370px) and (max-width: 820px){
    .contentHome {
      display: none;
    }

    .sectionForm{
      width: 100vw;
      height: 100vh;
      padding: 30px;
    }
  
      /* encabezado del formulario */
      .sectionForm img{
        width: 120px;
        height: 120px;
        position: absolute;
        margin-top: 40px;
        /* margin-right: auto;
        margin-left: auto; */
      } 
    
      .sectionForm h1{
        font-size: 6rem;
        margin-top: 113px;
        margin-bottom: 20px;
    
      }
    
      .sectionForm h2{
        font-size: 2rem;
      }
    
      .sectionForm h3{
        font-size: 2rem;
        margin-top: 80px;
      }
    
      /* formulario de registrarse y login */
      #formRegister, #formLogin{
        padding: 50px;
        row-gap: 10px;
      
      }
    
      /* inputs del formulario */
      #nameRegister, #emailRegister, #passwordRegister, #passwordConfirm,
      #emailLogin, #passwordLogin{
        height: 3.5vh;
        width: 41vw;
        border-radius: 5px;
        font-size: 1rem;
        align-items: center;
        
      }
    
      #messageEmail, #messageName, #messagePassword, #messagePasswordConfirm {
        font-size: 17px;
      } 
    
      /* botones para registrarse e iniciar sesión */
      #register, #login{
        margin: auto;
        height: 50px;
        width: 140px;
        font-size: 16px;
        border-radius: 20px;
      }
    
      .question{
        margin-top: 60px;
        font-size: 1.3rem;
      }
    
      .question input{
        width: 136px;
        font-size: 1.2rem;
      }
    
      .redes-sociales{
        width: 210px;
        height: 70px;
        /* position: relative; */
        /* text-align: center; */
        margin: auto;
        align-items: center;
      }

      .redes-sociales p {
        font-size:  20px; 
      }
    
      #imggoogle {
        width: 65px;
        height: 65px;
        position: absolute;
        margin: auto;
        /* right: 0;
     */
      }
  

   }

  @media (max-width: 360px) {
    .contentHome {
      display: none;
    }

    /* .contentHome img, .contentHome p {
      display: none;
    } */
    

    .sectionForm {
      width: 100vw;
      height: 100vh;
    }

   }
  
 
  
  
  
  /* form input:focus:required:invalid{
      border:2px solid #FBCFDC;
  } */
  
    
  /* <a href="ruta/a/archivo.pdf" id="termsLink" target="_self"></a> */
    
  